@font-face {
  font-family: 'admin-icon';
  src:  url('fonts/admin-icon.eot?4hjo4f');
  src:  url('fonts/admin-icon.eot?4hjo4f#iefix') format('embedded-opentype'),
    url('fonts/admin-icon.ttf?4hjo4f') format('truetype'),
    url('fonts/admin-icon.woff?4hjo4f') format('woff'),
    url('fonts/admin-icon.svg?4hjo4f#admin-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'admin-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-cog:before {
  content: "\e994";
}
.icon-switch:before {
  content: "\e9b6";
}
